@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

:root {
    --font-family: 'Nunito', sans-serif;
    --color-customBlue: rgba(28, 100, 242, 1);
    --color-banner-color1: #FDC200;
    --color-banner-color2: #FF2C2C;
    --color-banner-color3: #21AD61;
    --color-banner-color4: #723DA6;
    --background-custom-gradient: linear-gradient(to right, #111827, #1f2937);
    --background-button-gradient: linear-gradient(to right, #7e22ce, #ef4444);
    --background-custom-gradient2: linear-gradient(135deg, #f5f5f5, #eae7dc);
    --box-shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
    --box-shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);
}

.bg-banner-color1 {
    background-color: var(--color-banner-color1);
}

.bg-banner-color2 {
    background-color: var(--color-banner-color2);
}

.bg-banner-color3 {
    background-color: var(--color-banner-color3);
}

.bg-banner-color4 {
    background-color: var(--color-banner-color4);
}
